{% extends 'SiteShopBundle::layout.html.twig' %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Кол-во</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
               <th scope="row">{{ product.id }}</th>
               <th scope="row">{{ product.title }}</th>
               <th scope="row">{{ product.discription}}</th>
               <th scope="row">{{ product.price}}</th>
                <th scope="row">{{ product.quantity}}</th>
            </tr>

        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block jscript %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}